:root{
    --font-family-title: "Bebas Neue", cursive;
    --main-font-family:'Arimo', sans-serif;
    --color-title-blue:#4895EF;
    --color-title-black:#212529;
    --color--background-black:#212529;
    --color--bg-title:#4CC9F0;
}